[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
python-dotenv = "*"
pytest-watch = "*"
flask-cors = "*"
pytest-env = "*"
pre-commit = "*"
redis = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
flake8-docstrings = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
